<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.antlr.eclipse.core"
   name="%pluginName"
   version="4.1.0"
   provider-name="%providerName"
   class="org.antlr.eclipse.core.AntlrCorePlugin">

   <runtime>
      <library name="antlrcore.jar">
         <export name="*"/>
      </library>
      <library name="extlib/antxr.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core" export="false"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.core.filebuffers"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.antlr"/>
   </requires>


   <extension
         id="antlrnature"
         name="%antlrNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.antlr.eclipse.core.AntlrNature">
         </run>
      </runtime>
      <builder
            id="org.antlr.eclipse.core.antlrbuilder">
      </builder>
      <builder
            id="org.antlr.eclipse.core.smapbuilder">
      </builder>
   </extension>
   <extension
         id="antlrbuilder"
         name="%antlrBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.antlr.eclipse.core.builder.AntlrBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="warningcleanerbuilder"
         name="%warningCleanerBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.antlr.eclipse.core.builder.WarningCleanerBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.team.core.fileTypes">
      <fileTypes
            type="text"
            extension="g">
      </fileTypes>
   </extension>
   <extension
         id="smapbuilder"
         name="SMap Installation Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.antlr.eclipse.smapinstaller.SMapInstallerBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/full/ovr16/antlr.gif"
            natureId="org.antlr.eclipse.core.antlrnature"
            id="org.antlr.eclipse.core.AntlrProjectNatureImage">
      </image>
   </extension>
   <extension-point id="plugin" name="Antlr Plugin" schema="schema/plugin.exsd"/>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes extension="smap" type="text"/>
	</extension>
 <extension
       id="sourceMapMarker"
       name="sourceMapMarker"
       point="org.eclipse.core.resources.markers">
    <persistent value="true"/>
    <attribute name="grammarLine"/>
    <attribute name="generatedLine"/>
 </extension>
</plugin>
