<?xml version="1.0" encoding="UTF-8"?>
<!--

 File:      $RCSfile: plugin.xml,v $
 Version:   $Revision: 1.2 $
 Modified:  $Date: 2004/12/16 01:30:11 $

 (c) Copyright 2004 by Mentor Graphics Corp. All rights reserved.

 ========================================================================
 This document contains information proprietary and confidential to
 Mentor Graphics Corp., and is not for external distribution.
 ======================================================================== 

-->
<plugin
   id="com.projtech.bp.ui.archetype"
   name="Archetype Editor Plug-in"
   version="1.0.0"
   provider-name="Mentor Graphics Corp."
   class="com.projtech.bp.ui.text.editor.ArchetypePlugin">

   <runtime>
      <library name="archetype.jar"/>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.views"/>
      <import plugin="org.eclipse.jface.text"/>
      <import plugin="org.eclipse.ui.workbench.texteditor"/>
      <import plugin="org.eclipse.ui.editors"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.ui"/>
      <import plugin="org.eclipse.ui"/>
   </requires>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Archetype Editor"
            icon="icons/ArchetypeEditor.gif"
            extensions="arc,inc,clr"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="com.projtech.bp.ui.text.editor.archetype.ArcheTypeEditor"
            id="com.projtech.bp.ui.text.editor.archetype.ArcheTypeEditor">
      </editor>
   </extension>

</plugin>
